/*Additional Styling Needed*/
/* Remove the navbar's default margin-bottom and rounded borders */
   .navbar {
     margin-bottom: 0;
     border-radius: 0;
   }

   /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
   .row.content {height: 450px}

   /* Set gray background color and 100% height */
   .sidenav {
     padding-top: 20px;
     background-color: darkgrey;
     height: 100%;
   }

   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 767px) {
     .sidenav {
       height: auto;
       padding: 15px;
     }
     .row.content {height:auto;}
   }

   .well{
     color:white;
     background-color: maroon;
   }

   .well a{
     color: white;
     text-decoration: none;
   }

   .well:hover{
     background-color: black;
   }

   footer{
     padding:15px;
     background-color: maroon;
     color:white;
   }
